html, body{
  font-family: Sans-Serif;
  height: 100%;
}

h1 {
  text-decoration: underline;
}

.content {
  width: 90%;
/*
  height: 100%;
  min-height: 100%;
  margin: 0 auto calc(-5% - 8px);
*/
}
/*
footer {
  height: 5%;
  position: fixed;
}
*/
